/**
 * Custom styles to immediately follow Tailwind’s `base` layer
 *
 * “Add things like base typography styles [or] opinionated global resets.”
 *
 * — from https://tailwindcss.com/docs/plugins#adding-base-styles
 */

/**
 * This uses the background and foreground colors declared in the
 * `theme.json` file and is applied both to the frontend and in the block
 * editor.
*/
body {
	@apply bg-background text-foreground font-sans;
}

.text-shadow-sm {
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.text-shadow-none {
	text-shadow: none;
}

.page-numbers {
    @apply flex items-center gap-2;
}

.page-numbers li {
    @apply list-none;
}

.page-numbers .page-numbers {
    @apply rounded w-[36px] h-[36px] text-center px-3 py-1 border border-gray-300 text-green-modular hover:bg-gray-200 flex items-center justify-center;
}

.page-numbers .current {
    @apply border-green-modular text-green-modular font-bold;
}

.page-numbers .prev,
.page-numbers .next {
    @apply bg-gray-200 border-none;
}

.slide-in {
    opacity: 0;
    transform: translateX(100%);
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.slide-in.visible {
    opacity: 1;
    transform: translateX(0);
}